```.gitignore
# Python
/backend/venv/
/backend/__pycache__/
/backend/firebase-credentials.json

# Node.js
/frontend/.next/
/frontend/node_modules/
/frontend/.env.local

# Environment files
.env
.env*.local
.env.local
.venv*
/venv*